/old/*
__pycache__
.vs
*.exp
*.lib
*.pdb
intermediate
dll_archive
desktop.ini
# /nets/outputs/*
smile-business/
smile-academic/
/dll_smile/latest-academic
/dll_smile/latest-business
smile_license_business.h
smile_licnese_academic.h
x64/
x86/
dll_smile/bismile-businesss-dlls.txt
dll_smile/bismile-academic-dlls.txt
